.container{
    margin:0;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    margin-bottom: 15%;
}
.card{
    margin: 15px auto;
    width:70%;
    max-height:40%;
}